#sidebar{
           position:absolute;
           width:700px;
           height:4000px;
           left:-700px;
           opacity:1.0;
           background-color:black;
       }     
         #sidebar ul li , .block ul li{
             color:white;
             list-style-type:none;
             padding:25px 15px;
			 font-size:35px;
         }  
         #sidebar .toggle{
             position:absolute;
             left:700px;
             top:0px;
             width:60px;
             height:50px;
             margin:0px;
             padding:20px 15px;
            }
          #sidebar ul li a , .block ul li a{
            color:white;
			font-size:35px;
            text-decoration:none;
            padding:25px 15px;
            font-weight:bold;
        }    
         #sidebar .toggle span{
             display:block;
             width:65px;
             height:7px;
             background-color:white;
             margin:13px 10px;
         }  
        #sidebar.active 
        {
              left:0px;
        }
      p{
	  font-size:40px;
	    padding:15px;
	    }
  #Name {
	   position:absolute;
	   left:270px;
	   top:370px;
	   } 
 #Gmail{
	 position:absolute;
	   left:270px;
	   top:430px;
       } 
