.menu #sidebar{
           position:absolute;
           width:700px;
           height:2000px;
           left:-700px;
           opacity:1.0;
           background-color:black;
       }     
        .menu #sidebar ul li , .block ul li{
             color:black;
		 
             list-style-type:none;
             padding:30px 20px;
			 font-size:45px;
         }  
        .menu #sidebar .toggle{
             position:absolute;
             left:700px;
             top:0px;
             width:60px;
             height:50px;
             margin:0px;
             padding:20px 15px;
            }
         .menu #sidebar ul li a , .block ul li a{
            color:black;
		  
		  line-height:60px;
			font-size:45px;
		  line-height:60px;
            text-decoration:none;
            padding:30px 20px;
        }    
        .menu #sidebar .toggle span{
             display:block;
             width:65px;
             height:7px;
             background-color:white;
             margin:13px 10px;
         }  
       .menu #sidebar.active 
        {
              left:0px;
        }
      p{
	  font-size:40px;
	    padding:15px;
	    }
  #Name {
	   position:absolute;
	   left:270px;
	   top:370px;
	   } 
 #Gmail{
	 position:absolute;
	   left:270px;
	   top:430px;
       } 

.main{ width:100%; height:600px;} 
.main h1{font-size:70px;text-align:center;padding:5px 5px 0px 25px;margin:10px 10px 5px 10px;color:white;line-height:80px;} 
.main .r h3{font-size:55px;text-align:center;color:white;line-height:130px;} 
.r:hover{ border-bottom:6px solid black;}
		
.mbox{
     width:950px;
     height:400px;
     border:1px solid black;
     border-radius:30px;
     margin:10px;
     paddding:10px;
     background-color:white;	
}	
figure .img1{
      width:150px;
      height:150px;
      margin:5px;
      border:1px solid black;
      border-radius:50%;	
      padding:5px;
}
figcaption{ font-size:45px;color:black;margin-left:30px;padding-left:30px;} 
.mbox p{font-size:45px;color:black;position:absolute;left:250px;top:310px;float:left;}
figure .img2{
	 width:150px;
      height:150px;
      margin:5px;
      border:1px solid black;
      border-radius:50%;	
      padding:5px;
      position:absolute;
      right:50px;
	top:310px; 
}
 .cap{
	position:absolute;
      right:70px;
	top:470px; }
