.menu #sidebar{
           position:absolute;
           width:700px;
           height:2000px;
           left:-700px;
           opacity:1.0;
           background-color:black;
       }     
        .menu #sidebar ul li , .block ul li{
             color:black;
		 
             list-style-type:none;
             padding:30px 20px;
			 font-size:45px;
         }  
        .menu #sidebar .toggle{
             position:absolute;
             left:700px;
             top:0px;
             width:60px;
             height:50px;
             margin:0px;
             padding:20px 15px;
            }
         .menu #sidebar ul li a , .block ul li a{
            color:black;
		  
		  line-height:60px;
			font-size:45px;
		  line-height:60px;
            text-decoration:none;
            padding:30px 20px;
        }    
        .menu #sidebar .toggle span{
             display:block;
             width:65px;
             height:7px;
             background-color:white;
             margin:13px 10px;
         }  
       .menu #sidebar.active 
        {
              left:0px;
        }
      p{
	  font-size:40px;
	    padding:15px;
	    }
  #Name {
	   position:absolute;
	   left:270px;
	   top:370px;
	   } 
 #Gmail{
	 position:absolute;
	   left:270px;
	   top:430px;
       } 

.main{ width:100%; height:600px;border:1px solid black;} 
.main h1{font-size:70px;padding:25px;margin:25px;color:white;line-height:80px;} 
	
	
