body {
    background-color:rgb(150,122,5);
    box-sizing:border-box;
    color:white;
    overflow:scroll;
}
footer{
    position:relative;
    top:100px;
    }
footer a{
    text-decoration:none;
    color:white;
    padding:30px;
    margin:30px;
    font-size:40px;
    line-height:80px;
}
/*
.t a .btn{
    width:450px;
    height:150px;
    border:1px solid black;
    border-radius:25px;
    position:absolute;
    left:30%;
    text-align:center;
    background-color:green;
}
.t a{
     padding:25px;
     color:white;
     text-align:center;
     line-height:150px;
     text-decoration:none;
     font-size:45px;
} 
*/
.term,.term1{
    width:500px;
    height:300px;

    position:absolute;
    top:1050px;
    left:50px;
    margin:60px;
    padding:20px;
    }
.term a{ 
    font-size:50px;
    color:white;
    padding:25px;
    margin:25px 25px 40px 10px;
    text-decoration:none;
    border:1px solid black;
    border-radius:15px;
    background-color:green;
    text-align:center; 
    position:absolute;
    left:50px
}
.term1 a{
    font-size:50px;
    color:white;
    padding:25px;
    margin:25px 25px 40px 10px;
    text-decoration:none;
    border:1px solid black;
    border-radius:15px;
    background-color:green;
    text-align:center; 
    position:absolute;
    left:300px;
    }
