body {
    background-color:rgb(150,122,5);
    box-sizing:border-box;
    color:white;
    overflow:scroll;
}
/* body {
    background-color:rgb(25,200,32);
}
*/
footer a{
    text-decoration:none;
    color:white;
    padding:20px;
    margin:15px;
    line-height:40px;
}
.t{
    width:auto;
    height:300px;
    text-align:center;
    border:1px solid black;
}
.t a .btn{
    width:450px;
    height:150px;
    border:1px solid black;
    border-radius:25px;
    position:absolute;
    left:30%;
    text-align:center;
    background-color:green;
}
.t a{
     padding:25px;
     color:white;
     text-align:center;
     line-height:150px;
     text-decoration:none;
     font-size:45px;
}
/*.term{
     height:300px;
     border:1px solid black;
     display:inline;
     margin:40px 20px;
} */
input{
    margin:30px;
    padding:20px;
    width:50px;
    height:50px;
}
.term p{
    font-size:40px;
    margin-left:15px;
    line-height:60px;
}
