body {
    padding:0px;
	margin:0px;
	font-size:20px;
	color:white;
	text-transform:uppercase;
	font-weight:lighter;
	font-family:'Flamenco', cursive;
	background-image:url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
	background-repeat:none;
	background-size:cover;
	height:100vh;
}
.row{
	margin-top:0px;
}
.row li a:hover{
	border-bottom:2px solid #3498db;
}
.logo{
	width:200px;
	height:200px;
	border-radius:40%;
	padding:20px 20px;
}
ul{
   list-style-type:none;
   float:right;
   margin:20px 60px;
}
ul li{
	display:inline-block;
	padding:20px 20px;
	margin-bottom:5px;
}
 a{
	text-decoration:none;
	font-size:90%;
	color:#bf55ec;
}
.mh{
	position:absolute;
	left:50%;
	top:50%;
	color:black;
	clear:both;
	font-size:100%;
	transform:translate(-50%,-50%);
}
.btn{
	display:inline-block;
	padding:10px 30px;
	border-radius:200px;
	width:160px;
	text-align:center;
}
.btn1{
     border:2px solid #bf55ec;
	 color: #bf55ec;
	 background-color:transparent;
	 margin-left:20px;
}
.btn2{
     border:2px solid Blue;
	 color: Blue;
	 background-color:transparent;
	 margin-left:20px;
}	 	 
.anim{
	animation:color 2s infinite;
}
@keyframes color{
0% {color:red;}
25% {color:blue;}
50% {color:pink;}
75% {color:green;}
100% {color:#bf55ec;}
}

@media only screen and (max-width:989px)
{
  .mh h1{
	  font-size:80%;
	  position:absolute;
	  top:60%;
	  left:40%;
  }	  
  .btn{
	  margin-bottom:10px;
	  margin-left:20px;
  }
}
@media only screen and (max-width:841px)
{
  .mh{
	  font-size:80%;
	  position:absolute;
	  top:60%;
	  left:37%;
	  }	  
  .btn{
	  margin-bottom:10px;
	  margin-left:20px;
  }
    .row ul{
	  display:none;
  }
}
@media only screen and (max-width:669px)
{
  .mh{
	  font-size:70%;
	  position:absolute;
	  top:60%;
	  left:40%;
	  }	  
  .btn{
	  margin-bottom:10px;
	  margin-left:20px;
  }
}
@media only screen and (max-width:584px)
{
  .mh{
	  font-size:60%;
	  position:absolute;
	  top:60%;
	  left:37%;
	  }	  
  .btn{
	  margin-bottom:10px;
	  margin-left:20px;
  }
}
@media only screen and (max-width:400px)
{
  .mh{
	  font-size:70%;
	  position:absolute;
	  top:60%;
	  left:45%;
	  }	  
  .btn{
	  margin-bottom:10px;
	  margin-left:20px;
  }
.logo{
	width:130px;
	height:130px;
	}
}
.signup{
	width:400px;
	height:400px;
	background-color:black;
	position:absolute;
	left:50%;
	top:50%;
	display:none;
	border-radius:15px;
	transform:translate(-50%,-50%);
	text-align:center;
}
.signup input[type="text"], .signup input[type="password"],.signup input[type="email"] {
	background:none;
	outline:none;
	display:block;
	border:2px solid #3498db;
	width:190px;
	border-radius:25px;
	padding:13px 10px;
	text-align:center;
	color:white;
	margin:20px auto;
	transition:0.25s;
}
.signup input[type="text"]:focus, .signup input[type="password"]:focus,.signup input[type="email"]:focus{
	width:280px;
}
.signup input[type="submit"]{
	border:0;
	outline:none;
	background:none;
	border:2px solid #2ecc71;
	width:150px;
	padding:13px 10px;
	text-align:center;
	color:white;
	border-radius:25px;
	transition:0.25s;
	cursor:pointer;
}
.signup input[type="submit"]:hover{
	background:#2ecc71;
}

















